video/runs/detect

video/__pycache__

web.orig
web/vendor
web/.env
demos/demoimages_orig
demos/dist1
demos/dist2
demos/calib
demos/150
demos/20220323000252642_352p.mp4
demos/20220323005815189_352p1.mp4
