.eventSearch {
    display: flex; /* or inline-flex */
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

.liveButtons{
    display: grid;
    grid-template-columns: 30% 30%;
    grid-row-gap:10px;

}


.liveControl{
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    grid-row-gap:10px;
    column-gap: 15px;

}

